.customer-detail-box{
  .cus-row-box{
    display: flex;
  }
  .l-box{
    box-shadow: 0px -10px 5px 5px rgba(99, 97, 96, 0.1);
    height: 100%;
    .l-top-box{
      padding: 0 30px 0 20px;
      box-sizing: border-box;
      .title-box{
        width: 100%;
        height: 57px;
        line-height: 57px;
        border-bottom: 2px solid #f5efee;
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: #332929;
        display: flex;
        .btn-box{
          flex: 1;
          text-align: right;
        }
      }
      .con-box{
        padding: 30px 25px;
        box-sizing: border-box;
        .info-box{
          display: flex;
          flex-wrap: wrap;
          .info-list{
            width: calc(100% / 3);
            display: flex;
            flex-flow: column;
            margin-top: 26px;
            .label{
              height: 18px;
              font-size: 13px;
              font-weight: 500;
              text-align: left;
              color: #666666;
              line-height: 18px;
            }
            .des{
              height: 18px;
              font-size: 13px;
              font-weight: 400;
              text-align: left;
              color: #332929;
              line-height: 18px;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
  .r-box{
    padding: 0 10px;
    box-sizing: border-box;
    .title-box{
      width: 100%;
      height: 57px;
      line-height: 57px;
      border-bottom: 2px solid #f5efee;
      font-size: 16px;
      font-weight: 500;
      text-align: left;
      color: #332929;
      display: flex;
      .title-label{
        padding-left: 8px;
      }
    }
    .con-box{
      .record-list{
        .item-box{
          min-height: 99px;
          background: #f9f9f9;
          border-radius: 4px;
          margin-top: 12px;
          padding: 12px;
          box-sizing: border-box;
          .con-box{
            min-height: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            font-size: 13px;
            font-weight: 400;
            display: flex;
            &:nth-last-child(-n+2){
              margin-bottom: 16px;
            }
            .label{
              color: #666666;
            }
            .des{
              color: #333333;
              text-align: right;
              flex: 1;
            }
            .num{
              color: #00CC95;
            }
          }
          .con-column{
            flex-flow: column;
            .des{
              text-align: left;
            }
          }
          .operation-box{
            min-height: 34px;
            line-height: 17px;
            font-size: 12px;
            font-weight: 400;
            color: #666666;
            padding-top: 12px;
            text-align: left;
            border-top: 1px solid #f5efee;
          }
        }
      }
    }
  }
  .mt0{
    margin-top: 0 !important;
  }
}