<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.business.mapper.TbBusinessTrackRecordMapper">
    
    <resultMap type="TbBusinessTrackRecord" id="TbBusinessTrackRecordResult">
        <result property="id"    column="id"    />
        <result property="businessId"    column="business_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="keyItems"    column="key_items"    />
        <result property="record"    column="record"    />
        <result property="createTime"    column="create_time"    />
        <result property="trackStatus"    column="track_status"    />
        <result property="nextTime"    column="next_time"    />
    </resultMap>


</mapper>