<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.clues.mapper.TbClueTrackRecordMapper">
    
    <resultMap type="TbClueTrackRecord" id="TbClueTrackRecordResult">
        <result property="id"    column="id"    />
        <result property="clueId"    column="clue_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="subject"    column="subject"    />
        <result property="record"    column="record"    />
        <result property="level"    column="level"    />
        <result property="createTime"    column="create_time"    />
        <result property="type"    column="type"    />
        <result property="falseReason"    column="false_reason"    />
        <result property="nextTime"    column="next_time"    />
    </resultMap>

    <sql id="selectTbClueTrackRecordVo">
        select id, clue_id, create_by, subject, record, level, create_time, type, false_reason, next_time from tb_clue_track_record
    </sql>

    <select id="selectTbClueTrackRecordList" parameterType="TbClueTrackRecord" resultMap="TbClueTrackRecordResult">
        <include refid="selectTbClueTrackRecordVo"/>
        <where>  
            <if test="clueId != null  and clueId != ''"> and clue_id = #{clueId}</if>
            <if test="subject != null  and subject != ''"> and subject = #{subject}</if>
            <if test="record != null  and record != ''"> and record = #{record}</if>
            <if test="level != null  and level != ''"> and level = #{level}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="falseReason != null  and falseReason != ''"> and false_reason = #{falseReason}</if>
        </where>
    </select>
    
    <select id="selectTbClueTrackRecordById" parameterType="Long" resultMap="TbClueTrackRecordResult">
        <include refid="selectTbClueTrackRecordVo"/>
        where id = #{id}
    </select>
    
    <insert id="insertTbClueTrackRecord" parameterType="TbClueTrackRecord" useGeneratedKeys="true" keyProperty="id">
        insert into tb_clue_track_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="clueId != null and clueId != ''">clue_id,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="subject != null">subject,</if>
            <if test="record != null">record,</if>
            <if test="level != null">level,</if>
            <if test="createTime != null">create_time,</if>
            <if test="type != null">type,</if>
            <if test="falseReason != null">false_reason,</if>
            <if test="nextTime != null">next_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="clueId != null and clueId != ''">#{clueId},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="subject != null">#{subject},</if>
            <if test="record != null">#{record},</if>
            <if test="level != null">#{level},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="type != null">#{type},</if>
            <if test="falseReason != null">#{falseReason},</if>
            <if test="nextTime != null">#{nextTime},</if>
         </trim>
    </insert>

    <update id="updateTbClueTrackRecord" parameterType="TbClueTrackRecord">
        update tb_clue_track_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="clueId != null and clueId != ''">clue_id = #{clueId},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="subject != null">subject = #{subject},</if>
            <if test="record != null">record = #{record},</if>
            <if test="level != null">level = #{level},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="type != null">type = #{type},</if>
            <if test="falseReason != null">false_reason = #{falseReason},</if>
            <if test="next_time != null">#{nextTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbClueTrackRecordById" parameterType="Long">
        delete from tb_clue_track_record where id = #{id}
    </delete>

    <delete id="deleteTbClueTrackRecordByIds" parameterType="String">
        delete from tb_clue_track_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>