<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.clues.mapper.TbRulePoolMapper">
    
    <resultMap type="TbRulePool" id="TbRulePoolResult">
        <result property="id"    column="id"    />
        <result property="limitTime"    column="limit_time"    />
        <result property="limitTimeType"    column="limit_time_type"    />
        <result property="warnTime"    column="warn_time"    />
        <result property="warnTimeType"    column="warn_time_type"    />
        <result property="repeatGetTime"    column="repeat_get_time"    />
        <result property="repeatType"    column="repeat_type"    />
        <result property="maxNunmber"    column="max_nunmber"    />
        <result property="type"    column="type"    />
    </resultMap>

    <sql id="selectTbRulePoolVo">
        select id, limit_time, limit_time_type, warn_time, warn_time_type, repeat_get_time, repeat_type, max_nunmber, type from tb_rule_pool
    </sql>

    <select id="selectTbRulePoolList" parameterType="TbRulePool" resultMap="TbRulePoolResult">
        <include refid="selectTbRulePoolVo"/>
        <where>  
            <if test="limitTime != null "> and limit_time = #{limitTime}</if>
            <if test="limitTimeType != null  and limitTimeType != ''"> and limit_time_type = #{limitTimeType}</if>
            <if test="warnTime != null "> and warn_time = #{warnTime}</if>
            <if test="warnTimeType != null  and warnTimeType != ''"> and warn_time_type = #{warnTimeType}</if>
            <if test="repeatGetTime != null "> and repeat_get_time = #{repeatGetTime}</if>
            <if test="repeatType != null  and repeatType != ''"> and repeat_type = #{repeatType}</if>
            <if test="maxNunmber != null "> and max_nunmber = #{maxNunmber}</if>
            <if test="type != null "> and type = #{type}</if>
        </where>
    </select>
    
    <select id="selectTbRulePoolById" parameterType="Long" resultMap="TbRulePoolResult">
        <include refid="selectTbRulePoolVo"/>
        where id = #{id}
    </select>

    <select id="selectTbRulePoolByType" parameterType="String" resultMap="TbRulePoolResult">
        <include refid="selectTbRulePoolVo"/>
        where type = #{type}
    </select>

    <insert id="insertTbRulePool" parameterType="TbRulePool">
        insert into tb_rule_pool
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="limitTime != null">limit_time,</if>
            <if test="limitTimeType != null">limit_time_type,</if>
            <if test="warnTime != null">warn_time,</if>
            <if test="warnTimeType != null">warn_time_type,</if>
            <if test="repeatGetTime != null">repeat_get_time,</if>
            <if test="repeatType != null">repeat_type,</if>
            <if test="maxNunmber != null">max_nunmber,</if>
            <if test="type != null">type,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="limitTime != null">#{limitTime},</if>
            <if test="limitTimeType != null">#{limitTimeType},</if>
            <if test="warnTime != null">#{warnTime},</if>
            <if test="warnTimeType != null">#{warnTimeType},</if>
            <if test="repeatGetTime != null">#{repeatGetTime},</if>
            <if test="repeatType != null">#{repeatType},</if>
            <if test="maxNunmber != null">#{maxNunmber},</if>
            <if test="type != null">#{type},</if>
         </trim>
    </insert>

    <update id="updateTbRulePool" parameterType="TbRulePool">
        update tb_rule_pool
        <trim prefix="SET" suffixOverrides=",">
            <if test="limitTime != null">limit_time = #{limitTime},</if>
            <if test="limitTimeType != null">limit_time_type = #{limitTimeType},</if>
            <if test="warnTime != null">warn_time = #{warnTime},</if>
            <if test="warnTimeType != null">warn_time_type = #{warnTimeType},</if>
            <if test="repeatGetTime != null">repeat_get_time = #{repeatGetTime},</if>
            <if test="repeatType != null">repeat_type = #{repeatType},</if>
            <if test="maxNunmber != null">max_nunmber = #{maxNunmber},</if>
            <if test="type != null">type = #{type},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTbRulePoolById" parameterType="Long">
        delete from tb_rule_pool where id = #{id}
    </delete>

    <delete id="deleteTbRulePoolByIds" parameterType="String">
        delete from tb_rule_pool where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>