#app .main-container {
  min-height: 100%;
  transition: margin-left 0.28s;
  margin-left: 206px;
  position: relative;
}
#app .sidebar-container {
  -webkit-transition: width 0.28s;
  transition: width 0.28s;
  width: 206px !important;
  background-color: #2B303B;
  height: 100%;
  position: fixed;
  font-size: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1001;
  overflow: hidden;
  -webkit-box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
  box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}
#app .sidebar-container .el-menu .el-menu-item {
  color: #aeb5c4;
  height: 46px;
  line-height: 46px;
}
#app .sidebar-container .el-menu .el-menu-item {
  padding: 0 0 0 35px !important;
  margin: 10px 17px 0 0;
  border-radius: 0 23px 23px 0 !important;
}
#app .sidebar-container .el-menu .el-menu-item .iconfont {
  font-size: 20px;
}
#app .sidebar-container .el-menu .el-menu-item:hover {
  color: #ffffff !important;
  background-color: transparent !important;
}
#app .sidebar-container .el-menu .el-menu-item:hover span {
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-menu-item.is-active {
  background-color: #05CC95 !important;
  color: #ffffff !important;
  border-radius: 0 23px 23px 0 !important;
}
#app .sidebar-container .el-menu .el-menu-item.is-active span {
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-submenu__title {
  color: #aeb5c4;
  height: 46px;
  line-height: 46px;
  padding: 0 0 0 35px !important;
  margin: 10px 17px 10px 0;
  border-radius: 0 23px 23px 0 !important;
}
#app .sidebar-container .el-menu .el-submenu__title:hover {
  color: #ffffff !important;
  background-color: transparent !important;
}
#app .sidebar-container .el-menu .el-submenu__title:hover span {
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-submenu__title.is-active {
  background-color: #05CC95 !important;
  color: #ffffff !important;
  border-radius: 0 23px 23px 0 !important;
}
#app .sidebar-container .el-menu .el-submenu__title.is-active span {
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu__title {
  padding: 0 0 0 45px !important;
  font-size: 13px;
  color: #aeb5c4;
  border-radius: 0 !important;
  margin: 0 17px 0 0;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu__title .svg-icon {
  width: 16px !important;
  height: 16px !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu__title:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu__title .el-submenu__icon-arrow {
  margin-right: 17px;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-menu-item {
  margin: 0 !important;
  font-size: 13px;
  padding-left: 45px !important;
  border-radius: 0 !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-menu-item .el-submenu__icon-arrow {
  font-size: 14px;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-menu-item:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-menu-item .svg-icon {
  width: 16px !important;
  height: 16px !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-menu-item:hover {
  background-color: transparent !important;
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-menu-item.is-active {
  background-color: #232730 !important;
  color: #05CC95 !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-menu-item.is-active span {
  color: #05CC95 !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu.is-active > .el-submenu__title {
  background-color: #232730 !important;
  color: #05CC95 !important;
  border-radius: 0 !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu.is-active > .el-submenu__title span {
  color: #05CC95 !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu.is-active > .el-submenu__title i {
  color: #05CC95;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu.is-active .el-menu-item.is-active {
  background-color: transparent !important;
  color: #05CC95 !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu.is-active .el-menu-item.is-active span {
  color: #05CC95 !important;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu .el-menu .el-menu-item {
  padding-left: 85px !important;
  border-radius: 0 !important;
  height: 38px;
  line-height: 38px;
}
#app .sidebar-container .el-menu .el-submenu .el-menu .el-submenu .el-menu .el-menu-item .svg-icon {
  display: none;
}
#app .sidebar-container .el-menu .el-submenu.is-active > .el-submenu__title {
  background-color: #05CC95 !important;
  color: #ffffff !important;
  border-radius: 0 23px 23px 0 !important;
}
#app .sidebar-container .el-menu .el-submenu.is-active > .el-submenu__title span {
  color: #ffffff !important;
}
#app .sidebar-container .el-menu .el-submenu.is-active > .el-submenu__title i {
  color: #ffffff;
}
#app .sidebar-container .el-menu .el-submenu__icon-arrow {
  font-size: 16px;
}
#app .sidebar-container .isSysIcon > .el-submenu__title .svg-icon, #app .sidebar-container .isSysIcon > .svg-icon {
  width: 16px !important;
  height: 16px !important;
  margin-left: 2px;
}
#app .sidebar-container .horizontal-collapse-transition {
  transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
}
#app .sidebar-container .scrollbar-wrapper {
  overflow-x: hidden !important;
}
#app .sidebar-container .el-scrollbar__bar.is-vertical {
  right: 0px;
}
#app .sidebar-container .el-scrollbar {
  height: 100%;
}
#app .sidebar-container.has-logo .el-scrollbar {
  height: calc(100% - 140px - 70px);
}
#app .sidebar-container.hide-sidebar .el-scrollbar {
  height: calc(100% - 130px - 100px);
}
#app .sidebar-container .is-horizontal {
  display: none;
}
#app .sidebar-container a {
  width: 100%;
  overflow: hidden;
}
#app .sidebar-container .svg-icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 16px;
}
#app .sidebar-container .el-menu {
  border: none;
  height: 100%;
  width: 100% !important;
}
#app .sidebar-container .el-menu-item, #app .sidebar-container .el-submenu__title {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}
#app .sidebar-container .theme-dark .is-active > .el-submenu__title {
  color: #f4f4f5 !important;
}
#app .sidebar-container .nest-menu .el-submenu > .el-submenu__title, #app .sidebar-container .el-submenu .el-menu-item {
  min-width: 206px !important;
}
#app .hideSidebar .sidebar-container {
  width: 80px !important;
}
#app .hideSidebar .main-container {
  margin-left: 80px;
}
#app .hideSidebar .submenu-title-noDropdown {
  padding: 0 !important;
  position: relative;
}
#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
  padding: 0 !important;
}
#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
  margin-left: 23px;
}
#app .hideSidebar .el-submenu {
  overflow: hidden;
}
#app .hideSidebar .el-submenu > .el-submenu__title {
  padding: 0 !important;
}
#app .hideSidebar .el-submenu > .el-submenu__title .svg-icon {
  margin-left: 20px;
}
#app .hideSidebar .el-submenu > .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}
#app .hideSidebar .el-menu--collapse .el-submenu > .el-submenu__title > span {
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;
}
#app .hideSidebar .el-menu-item, #app .hideSidebar .el-submenu__title {
  margin: 10px 12px 10px 0 !important;
}
#app .el-menu--collapse .el-menu .el-submenu {
  min-width: 206px !important;
}
#app .mobile .main-container {
  margin-left: 0px;
}
#app .mobile .sidebar-container {
  transition: transform 0.28s;
  width: 206px !important;
}
#app .mobile.hideSidebar .sidebar-container {
  pointer-events: none;
  transition-duration: 0.3s;
  transform: translate3d(-206px, 0, 0);
}
#app .withoutAnimation .main-container, #app .withoutAnimation .sidebar-container {
  transition: none;
}
.el-menu--vertical > .el-menu .svg-icon {
  margin-right: 16px;
}
.el-menu--vertical > .el-menu--popup {
  max-height: 100vh;
  overflow-y: auto;
}
.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-track-piece {
  background: #d3dce6;
}
.el-menu--vertical > .el-menu--popup::-webkit-scrollbar {
  width: 6px;
}
.el-menu--vertical > .el-menu--popup::-webkit-scrollbar-thumb {
  background: #99a9bf;
  border-radius: 20px;
}
