<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huike.report.mapper.ReportMapper">

	<select id="getCluesNum"   resultType="Integer">
		SELECT COUNT(id) AS cluesNum  FROM `tb_clue`
		WHERE id IN (
			SELECT
				assign_id
			FROM
				`tb_assign_record`
			WHERE
			  DATE_FORMAT(create_time,'%Y-%m-%d')  BETWEEN #{startTime}
					AND #{endTime}
			  AND `type` = 0
			  AND `latest` = 1
			  AND `user_name` = #{username}
		)
		  AND `status` IN (1, 2)
	</select>

	<select id="getBusinessNum"   resultType="Integer">
		SELECT
			COUNT(DISTINCT(id)) AS businessNum
		FROM
			`tb_business`
		WHERE
				id IN (
				SELECT
					assign_id
				FROM
					`tb_assign_record`
				WHERE
					DATE_FORMAT(`create_time`,'%Y-%m-%d') BETWEEN #{startTime}
						AND #{endTime}
				  AND `type` = 1
				  AND `latest` = 1
				  AND `user_name` = #{username}) AND `status` IN (1,2)
	</select>

	<select id="getContractNum"   resultType="Integer">
		SELECT
			COUNT(DISTINCT(id)) AS contractNum
		FROM
			`tb_contract`
		WHERE
			DATE_FORMAT(`create_time`,'%Y-%m-%d') BETWEEN #{startTime}
				AND #{endTime}
		  AND create_by = #{username}
		  AND `status` = 4
	</select>

	<select id="getSalesAmount"   resultType="Double">
		SELECT
			CAST(
					IFNULL(SUM(h.`contract_order`),0) AS DECIMAL (30, 0)
				) AS salesAmount
		FROM
			`tb_contract` h
		WHERE
			h.create_by = #{username}
		    AND DATE_FORMAT(h.create_time,'%Y-%m-%d') BETWEEN #{startTime}
			AND #{endTime}
	</select>

</mapper>