.customer-detail-box .cus-row-box {
  display: flex;
}
.customer-detail-box .l-box {
  box-shadow: 0px -10px 5px 5px rgba(99, 97, 96, 0.1);
  height: 100%;
}
.customer-detail-box .l-box .l-top-box {
  padding: 0 30px 0 20px;
  box-sizing: border-box;
}
.customer-detail-box .l-box .l-top-box .title-box {
  width: 100%;
  height: 57px;
  line-height: 57px;
  border-bottom: 2px solid #f5efee;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #332929;
  display: flex;
}
.customer-detail-box .l-box .l-top-box .title-box .btn-box {
  flex: 1;
  text-align: right;
}
.customer-detail-box .l-box .l-top-box .con-box {
  padding: 30px 25px;
  box-sizing: border-box;
}
.customer-detail-box .l-box .l-top-box .con-box .info-box {
  display: flex;
  flex-wrap: wrap;
}
.customer-detail-box .l-box .l-top-box .con-box .info-box .info-list {
  width: calc(100% / 3);
  display: flex;
  flex-flow: column;
  margin-top: 26px;
}
.customer-detail-box .l-box .l-top-box .con-box .info-box .info-list .label {
  height: 18px;
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  color: #666666;
  line-height: 18px;
}
.customer-detail-box .l-box .l-top-box .con-box .info-box .info-list .des {
  height: 18px;
  font-size: 13px;
  font-weight: 400;
  text-align: left;
  color: #332929;
  line-height: 18px;
  margin-top: 8px;
}
.customer-detail-box .r-box {
  padding: 0 10px;
  box-sizing: border-box;
}
.customer-detail-box .r-box .title-box {
  width: 100%;
  height: 57px;
  line-height: 57px;
  border-bottom: 2px solid #f5efee;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #332929;
  display: flex;
}
.customer-detail-box .r-box .title-box .title-label {
  padding-left: 8px;
}
.customer-detail-box .r-box .con-box .record-list .item-box {
  min-height: 99px;
  background: #f9f9f9;
  border-radius: 4px;
  margin-top: 12px;
  padding: 12px;
  box-sizing: border-box;
}
.customer-detail-box .r-box .con-box .record-list .item-box .con-box {
  min-height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 400;
  display: flex;
}
.customer-detail-box .r-box .con-box .record-list .item-box .con-box:nth-last-child(-n+2) {
  margin-bottom: 16px;
}
.customer-detail-box .r-box .con-box .record-list .item-box .con-box .label {
  color: #666666;
}
.customer-detail-box .r-box .con-box .record-list .item-box .con-box .des {
  color: #333333;
  text-align: right;
  flex: 1;
}
.customer-detail-box .r-box .con-box .record-list .item-box .con-box .num {
  color: #00CC95;
}
.customer-detail-box .r-box .con-box .record-list .item-box .con-column {
  flex-flow: column;
}
.customer-detail-box .r-box .con-box .record-list .item-box .con-column .des {
  text-align: left;
}
.customer-detail-box .r-box .con-box .record-list .item-box .operation-box {
  min-height: 34px;
  line-height: 17px;
  font-size: 12px;
  font-weight: 400;
  color: #666666;
  padding-top: 12px;
  text-align: left;
  border-top: 1px solid #f5efee;
}
.customer-detail-box .mt0 {
  margin-top: 0 !important;
}
